/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */





*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  /* margin: auto;
  padding: 0; */
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  /* min-height: 100vh; */
  overflow: hidden;

  height:  100%;
  margin:  0px auto;
  padding: 0px auto;
}

#root {
  height: 100%;
}

#page-wrapper {
  height: 100%;
}

#game-wrapper {
  height: 100%;
}

#imgs-wrapper {
  /* position: relative; */
  height: 100%;
}


/* #background-img, #cat-img {
  position: absolute;
} */

/* #cat-img {
  height: 100px;
} */
